*{
    margin: 0;
    padding: 0;
}

body{
	font-size: 62.5%;
	line-height: 1.5em;
	background-color: #EFF0F4;
	font-family: Helvetica Neue,Helvetica,Roboto,Segoe UI,Arial,sans-serif;
}

header{
	background: #5FC0CD;
	height: 3em;
	color: #FFFFFF;
	font-size: 1.5em; 
}

#register{
    width: 3em;
    height: 1em;
    float: left;
    background-color: #5FC0CD;
    padding: 1em;
}

#close{
    width: 5em;
    height: 1em;
    float: right;
    background-color: #5FC0CD;
    text-align: right;
    padding: 1em;
}

#title{
    position: absolute;
	left: 45%;
	width: 4em;
	margin-left: -2em; 
    height: 1em;
    background-color: #5FC0CD;
    word-break: break-word;
    text-align:center;
    padding: 1em;
	font-weight: bold;
}

#close a:link,#close a:visited,#register a:link,#register a:visited{
	color: #FFFFFF;
	border-bottom: none;
	text-decoration:none;
}

input{
	float: left;
	width: 100%;
	height: 4em;
	outline: none;
	border: 0;
	margin-top: 0.5em;
	box-sizing: border-box;
	padding-left: 60px;
}

.phoneimg,.lockimg{
	height: 50px;
	float: left;
	box-sizing: border-box;
	padding: 0 2px;
	margin-top: 7px;
	border-right: 1px solid #e0e0e0;
}

.phoneimg{
	position: absolute;
	top: 4em;
}

.lockimg{
	position: absolute;
	top: 9em;
}

.login {
	position: absolute;
	top: 14em;
	height: 4.5em;
	width: 100%;
}

.login input{
	margin-top: 0.5em;
	background-color: #5FC0CD;
	font-size: 1.5em;
	font-weight: bold;
	padding-left: 0;
	color: #FFFFFF;
}

.footer {
	position: absolute;
	top: 20em;
	right: 1em;
}

.footer a:link,.footer a:visited{
	color: #1E90FF;
	border-bottom: none;
}
